<?xml version="1.0"?>
<config>
  <modules>
    <Kwanso_Personalize>
      <version>0.1.0</version>
    </Kwanso_Personalize>
  </modules>
  <global>
  	<blocks>
    <personalize>
    <class>Kwanso_Personalize_Block</class>
    </personalize>
  </blocks>
    <helpers>
      <personalize>
        <class>Kwanso_Personalize_Helper</class>
      </personalize>
    </helpers>
	<models>
	  <personalize>
		<class>Kwanso_Personalize_Model</class>
		<resourceModel>personalize_mysql4</resourceModel>
	  </personalize>
	</models>
	<resources>
	  <catalog_product1463575016_setup>
		<setup>
		  <module>Kwanso_Personalize</module>
		  <class>Mage_Eav_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </catalog_product1463575016_setup>
	  <catalog_product1463575016_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </catalog_product1463575016_write>
	  <catalog_product1463575016_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </catalog_product1463575016_read>
	</resources>
  </global>
</config> 